<?xml version="1.0" encoding="utf-8"?>
<launch>
<!-- This file launches the pointcloud2_interpreter as a nodelet and the laserscan_interpreter as a node.
     Use the arguments defined below to control what is launched and whether the recorded bag file should be played. -->
  
  
  <!-- uncomment the following two lines to set logger level to DEBUG for find_moving_objects -->
<!--   <env name="ROSCONSOLE_CONFIG_FILE" -->
<!--        value="$(find find_moving_objects)/logger_config/logger_config_debug.config" /> -->
  
  
  <!-- Command line arguments -->
  <arg name="use_lidar"
       default="true"
       doc="Set to false if lidar should not be used"
       />
  
  <arg name="use_camera"
       default="false"
       doc="Set to false if camera should not be used"
       />
  
  <arg name="downscale_pointcloud"
       default="false"
       doc="Set to true if voxel grid filter should be applied to camera output"
       />
  
  <arg name="laserscan_interpreter_extra_args"
       default=""
       doc="Additional args for the laserscan interpreter"
       />
  
  <arg name="pointcloud2_interpreter_extra_args"
       default=""
       doc="Additional args for the pointcloud2 interpreter"
       />


  <!--  Lidar  -->
  <!-- <group if="$(arg use_lidar)"  ns=""> -->
    <!-- Run laserscan interpreter for lidar -->
    <include file="$(find find_moving_objects)/launch/includes/laserscan_interpreter_node.launch.xml">
      <arg name="subscribe_topic" value="/raw_scan" />
      <arg name="topic_objects" value="/moving_objects" />
      <arg name="subscribe_buffer_size" value="10" />
    </include>
  <!-- </group> -->
  
  <!--  Camera  -->
  <!--  Attach to camera's namespace  -->
  <!-- <group ns="astra">
       <include file="$(find find_moving_objects)/launch/includes/pointcloud2_interpreter_nodelet.launch.xml">
      <arg name="manager" value="astra_nodelet_manager" />
      <arg name="subscribe_topic" value="depth_registered/points" />
      <arg name="topic_objects" value="/moving_objects" />
      <arg name="publish_ema" value="false"/>
      <arg name="publish_objects_closest_points_markers" value="false"/>
      <arg name="subscribe_buffer_size" value="10" />
    </include>
  </group> -->
  
  <!-- Run confidence enhancing node -->
  <node pkg="find_moving_objects"
        type="moving_objects_confidence_enhancer_node"
        name="confidence_enhancer_node"
        ns="confidence_enhancer"
        output="screen" >
    <param name="subscribe_topic" value="/moving_objects" />
  </node>
</launch>
